* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/* HEADER */

#header--logo {
    text-decoration: none;
    color: #c6c1c1;
    font-size: 2rem;
    margin-right: auto;
}

header .header--mobile {
    display: none;
}

span {
    color: #4a4a4a;
    font-weight: bold;
}

#header--img-logo {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

header {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
}

header .header--content {
    display: flex;
    padding: 1.5rem;
    height: 4.313;
    width: 100%;
}

header nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-right: 1.5rem;
    padding-top: 0.7rem;
}

nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    color: #4a4a4a;
    text-decoration: none;
    text-align: right;
}

/*
header .mobile {
    display: none;
}

@media only screen and (max-width: 895px) {
    nav li:last-child {
        display: block;
    }

    header .content {
        padding: 1rem 1rem;
    }
}

@media only screen and (max-width: 600px) {
    header .desktop {
        display: none;
    }

    header .mobile {
        display: block;
        width: 100%;
    }

    header .content {
        padding: .5rem 0;
    }

    header .mobile ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    header .mobile li {
        padding: 0;
    }
}
*/